{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <div class="row carousel-holder">
                    <div class="col-md-12">
                        <img width="100%" src="{{ asset('bundles/app/img/baniere.png') }}" />
                    </div>
                </div>

	            <div class="col-md-3">
	                <p class="lead">Label[i] Gaming Championship</p>
	                <div class="list-group">
						{%for category in searchCategoryService.getSearchingCategory()%}
		                    <a href="#{{category.systName}}" class="list-group-item">{{category.name}}</a>
		                {%endfor%}
	                </div>
	            </div>
            
	            <div class="col-md-9">
					{%for category in searchCategoryService.getSearchingCategory()%}
	                	<div class="row">
							<section id="{{category.systName}}">
								<div class="col-sm-12 col-lg-12 col-md-12">
									<h1>{{category.name}}</h1>
									
									{%for game in category.game%}
					                    <div class="col-sm-4 col-lg-4 col-md-4">
					                        <div class="thumbnail">
					                        	<div id="gameImg">
					                            	<img src="{{ asset('bundles/app/img/game/'~game.systName~'.png') }}" alt="{{game.name}}">
					                            </div>
					                            <div class="caption">
					                                <h4><a href="#">{{game.name}}</a>
					                                </h4>
					                                <p>See more snippets like this online store item at <a target="_blank" href="http://www.bootsnipp.com">Bootsnipp - http://bootsnipp.com</a>.</p>
					                            </div>
					                            <div class="ratings">
					                                <p class="pull-right">15 reviews</p>
					                                <p>
					                                    <span class="glyphicon glyphicon-star"></span>
					                                    <span class="glyphicon glyphicon-star"></span>
					                                    <span class="glyphicon glyphicon-star"></span>
					                                    <span class="glyphicon glyphicon-star"></span>
					                                    <span class="glyphicon glyphicon-star"></span>
					                                </p>
					                            </div>
					                        </div>
					                    </div>
									{%endfor%}
									<br>
		                    	</div>
		                    </section>
	                	</div>
			        {%endfor%}
				</div>
            </div>
        </div>
    </div>
{% endblock %}

