{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <div class="row carousel-holder">
                    <div class="col-md-12">
                        <img width="100%" src="{{ asset('bundles/app/img/baniere.png') }}" />
                    </div>
                </div>

	            <div class="col-md-3">
	                <p class="lead">Label[i] Gaming Championship</p>
	                <div class="list-group">
						{%for category in searchCategoryService.getSearchingCategory()%}
		                    <a href="#{{category.systName}}" class="list-group-item">{{category.name}}</a>
		                {%endfor%}
	                </div>
	            </div>
            
	            <div class="col-md-9">
					{%for category in searchCategoryService.getSearchingCategory()%}
	                	<div class="row">
							<section id="{{category.systName}}">
								<div class="col-sm-12 col-lg-12 col-md-12">
									<h1>{{category.name}}</h1>
									
									{%for game in category.game%}
					                    <div class="col-sm-4 col-lg-4 col-md-4">
					                        <div class="thumbnail">
					                        	<div id="gameImg">
					                            	<img src="{{ asset('bundles/app/img/game/'~game.systName~'.png') }}" alt="{{game.name}}">
					                            </div>
					                            <div class="caption">
					                                <h4>
					                                	<a href="{{path('game_show', {'id':game.id}) }}" >
					                                		{{game.name}}
					                                	</a>
					                                </h4>
					                                <p>
					                                	{{game.description}}
					                                </p>
					                            </div>
					                            <div class="ratings">
					                                <p class="pull-right">
						      							{% if (is_granted("IS_AUTHENTICATED_REMEMBERED")) %}
							      							{% if category.systName == 'autre'
							      							or category.systName == 'libre'%}
							      								{%if searchCategoryService.getInterest(app.user.id, game.id) == 0%}
									                                <a class="btn btn-default" href="{{path('user_have_interest', {'userId':app.user.id, 'gameId':game.id}) }}" >
									                                	 <span class="glyphicon glyphicon-star" aria-hidden="true"></span> Intéréssé
									                                </a>
									                            {%endif%}
								                            {%endif%}
							                            {%endif%}
													</p>
					                                <p>
					                                	{% if category.systName == 'autre'
							      						or category.systName == 'libre'%}
							      							Nb personnes intéressées : {{ searchCategoryService.getNumberInterest(game.id) }}
							      						{%else%}
						                                    <span class="glyphicon glyphicon-star"></span>
						                                    <span class="glyphicon glyphicon-star"></span>
						                                    <span class="glyphicon glyphicon-star"></span>
						                                    <span class="glyphicon glyphicon-star"></span>
						                                    <span class="glyphicon glyphicon-star"></span>
							                            {%endif%}        
					                                </p>
					                            </div>
					                        </div>
					                    </div>
									{%endfor%}
									<br>
		                    	</div>
		                    </section>
	                	</div>
			        {%endfor%}
				</div>
            </div>
        </div>
    </div>
{% endblock %}

