{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <div class="row carousel-holder">
                    <div class="col-md-12">
                        <img width="100%" src="{{ asset('bundles/app/img/baniere.png') }}" />
                    </div>
                </div>

	            <div class="col-md-3">
	                <p class="lead">Label[i] Gaming Championship</p>
	                <div class="list-group">
						{%for category in searchCategoryService.getSearchingCategory()%}
		                    <a href="#{{category.systName}}" class="list-group-item">{{category.name}}</a>
		                {%endfor%}
	                </div>
	            </div>
            
	            <div class="col-md-9">
					{%for category in searchCategoryService.getSearchingCategory()%}
	                	<div class="row">
							<section id="{{category.systName}}">
								<div class="col-sm-12 col-lg-12 col-md-12">
									<h1>{{category.name}}</h1>
									
									{%for game in category.game%}
					                    <div class="col-sm-4 col-lg-4 col-md-4 col-xs-6">
					                        <div class="thumbnail">
					                        	<div id="gameImg">
					                            	<img src="{{ asset('bundles/app/img/game/'~game.systName~'.png') }}" alt="{{game.name}}">
					                            </div>
					                            <div class="caption">
					                                <h4>
					                                	<a href="{{path('game_show', {'id':game.id}) }}" >
					                                		{{game.name}}
					                                	</a>
					                                </h4>
					                                <p>
					                                	Organisé par 
					                                	<a href="{{ path('informations') }}#{{game.organizer.systName}}">
					                                		{{game.organizer.name}}
					                                	</a>
					                                </p>
					                                <p>
					                                	{{game.description}}
					                                </p>
					                            </div>
					                            <div class="ratings">
					                                <p class="pull-right">
						      							{% if (is_granted("IS_AUTHENTICATED_REMEMBERED")) %}
							      							{% if (category.systName == 'multi' or category.systName == 'solo')%}
							      								{%if searchCategoryService.checkPlaces(game.id) == 1
							      								and searchCategoryService.getCreatedPlayer(app.user.id, game.id) == 0%}
									                                <a class="btn btn-default" href="{{path('player_new', {'userId':app.user.id, 'gameId':game.id}) }}" >
									                                	 <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> S'inscrire
									                                </a>
												                {%else%}
												                    <a class="btn btn-default disabled" href="{{path('player_new', {'userId':app.user.id, 'gameId':game.id}) }}" >
												                    	 Inscrit
												                    </a>
												                {%endif%}
							      							{% elseif category.systName == 'autre'
							      							or category.systName == 'libre'%}
							      								{%if searchCategoryService.getCreatedPlayer(app.user.id, game.id) == 0%}
									                                <a class="btn btn-default" href="{{path('new_free_player', {'userId':app.user.id, 'gameId':game.id}) }}" >
									                                	 <span class="glyphicon glyphicon-star" aria-hidden="true"></span> Intéréssé
									                                </a>
												                {%else%}
												                    <a class="btn btn-default disabled" href="{{path('new_free_player', {'userId':app.user.id, 'gameId':game.id}) }}" >
												                    	 Intéréssé
												                    </a>
												                {%endif%}
								                            {%endif%}
							                            {%endif%}
													</p>
					                                <p>
					                                	{%if category.systName == 'multi' %}
					                                		Nb places équipes restantes : {{ searchCategoryService.getMultiPlaces(game.id) }}
					                                	{% elseif category.systName == 'solo'
					                                	and game.places%}
					                                		Nb places : {{ searchCategoryService.getSoloPlaces(game.id) }}
					                                	{% else%}
							      							Nb intéressés : {{ searchCategoryService.getNumberPlayer(game.id) }}
							                            {%endif%}        
					                                </p>
					                            </div>
					                        </div>
					                    </div>
									{%endfor%}
									<br>
		                    	</div>
		                    </section>
	                	</div>
			        {%endfor%}
				</div>
            </div>
        </div>
    </div>
{% endblock %}

