{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
    		<h1>Recruter/Postuler</h1>
			{% form_theme form 'bootstrap_3_layout.html.twig' %}

		    {{ form_start(form) }}
		        {{ form_widget(form) }}
		        <button class="btn btn-primary btn-lg btn-block" type="submit" value="Créer">
				        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
				        Créer
			        </button>
		    {{ form_end(form) }}
		    <br>
			<center><img src="{{ asset('bundles/app/img/game/'~application.team.game.systName~'.jpg') }}" alt="{{application.team.game.name}}"></center>
			<br>
		</div>
	</div>
{% endblock %}
