{% extends 'base.html.twig' %}

{% block body %}
	{%if (is_granted("ROLE_ADMIN"))%}
	    <div class="container">
	        <div class="row">
			    <h1>Game list</h1>
			    
					{%for category in searchCategoryService.getSearchingCategory()%}
						<a class="btn btn-default" href="{{path('game_by_category', {'category':category.id}) }}" >
            				{{category.name}}
            			</a>
            		{%endfor%}
			
			    <table class="table table-hover">
			        <thead>
			            <tr>
			                <th>Id</th>
			                <th>Image</th>
			                <th>Name</th>
			                <th>Systname</th>
			                <th>Category</th>
			                <th>Organizer</th>
			                <th>Description</th>
			                <th>Places</th>
			                <th>Nbplayers</th>
			                <th>Actions</th>
			            </tr>
			        </thead>
			        <tbody>
			        {% for game in games %}
			            <tr>
			                <td><a href="{{ path('game_show', { 'id': game.id }) }}">{{ game.id }}</a></td>
			                <td>{{ game.name }}</td>
			                <td><img width="50px" height="50px" src="{{ asset('bundles/app/img/game/'~game.systName~'.png') }}" alt="{{game.name}}"></td>
			                <td>{{ game.systName }}</td>
			                <td>{{ game.category.name }}</td>
			                <td>{{ game.organizer.name }}</td>
			                <td>{{ game.description }}</td>
			                <td>{{ game.places }}</td>
			                <td>{{ game.nbplayers }}</td>
			                <td>
			                	<a class="btn btn-default"  href="{{ path('game_edit', { 'id': game.id }) }}">edit</a>
			                </td>
			            </tr>
			        {% endfor %}
			        </tbody>
			    </table>
			
			     <a class="btn btn-default" href="{{ path('game_new') }}">Create a new entry</a>
			</div>
		</div>
	{%endif%}
{% endblock %}
