{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <!-- Blog Post Content Column -->
            <div class="col-md-7">
                <h1>{{game.name}}</h1>
                <p class="lead">
                	{{game.category.name}} organisé par <a href="{{ path('informations') }}#{{game.organizer.systName}}">{{game.organizer.name}}</a>
                </p>
                <hr>
                <img src="{{ asset('bundles/app/img/game/'~game.systName~'.jpg') }}" alt="{{game.name}}" class="img-responsive" >
                <hr>
                <p>
                	{{game.description}}
                </p>

            </div>

            <div class="col-md-5">
                <div class="well">
                    <div class="input-group">
	                	<h4>
	                		Places
	                	</h4>
	                	{%if game.category.systName == 'multi' %}
	                		Nb places équipes restantes : {{ searchCategoryService.getMultiPlaces(game.id) }}
	                	{% elseif game.category.systName == 'solo'
	                	and game.places%}
	                		Nb places restantes : {{ searchCategoryService.getSoloPlaces(game.id) }}
	                	{% else%}
							Nb personnes intéressées : {{ searchCategoryService.getNumberPlayer(game.id) }}
	                    {%endif%} 
	                    <br>
	                    {% if (is_granted("IS_AUTHENTICATED_REMEMBERED")) %} 
	                    	{% if  (game.category.systName == 'multi' or game.category.systName == 'solo')%}
								{%if searchCategoryService.checkPlaces(game.id) == 1
								and searchCategoryService.getCreatedPlayer(app.user.id, game.id) == 0%}
				                    <a class="btn btn-default" href="{{path('player_new', {'userId':app.user.id, 'gameId':game.id}) }}" >
				                    	 <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> S'inscrire
				                    </a>
				                {%else%}
				                    <a class="btn btn-default disabled" href="{{path('player_new', {'userId':app.user.id, 'gameId':game.id}) }}" >
				                    	 Inscrit
				                    </a>
				                {%endif%}
							{% elseif game.category.systName == 'autre'
							or game.category.systName == 'libre'%}
								{%if searchCategoryService.getCreatedPlayer(app.user.id, game.id) == 0%}
				                    <a class="btn btn-default" href="{{path('new_free_player', {'userId':app.user.id, 'gameId':game.id,'origin':'show'}) }}" >
				                    	 <span class="glyphicon glyphicon-star" aria-hidden="true"></span> Intéréssé
				                    </a>
				                {%else%}
				                    <a class="btn btn-default disabled" href="{{path('new_free_player', {'userId':app.user.id, 'gameId':game.id,'origin':'show'}) }}" >
				                    	 Intéréssé
				                    </a>
				                {%endif%}
				            {%endif%}
			            {%endif%}
                    </div>
                </div>
                
				{% if (is_granted("IS_AUTHENTICATED_REMEMBERED"))
				and game.category.systName=='multi'%}
					{%for player in searchCategoryService.getPlayerGame(app.user.id, game.id)%}
						{%if player.team is null
						and player.capitain is null %}
			                <div class="well">  
			                	<h4>Créer team</h4>
			                	<a class="btn btn-default" href="{{path('team_new', {'user':app.user.id, 'game':game.id}) }}" >
			                    	 <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Créer une équipe
			                    </a>
					        </div>
					    {%endif%}
					{%endfor%}
				{%endif%}

            	{% if (game.category.systName == 'multi')   %}
	                <div class="well">  
	                	<a href="{{path('user_recruit', {'gameId':game.id}) }}" >
	                		<h4>
	                		<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
	                		Rechercher joueurs
	                		</h4>
	                	</a>
	                	<table class="table table-hover">
	                		<tbody>
	                			{%if searchCategoryService.searchSoloPlayers(game.id)%}
				                	{%for soloPlayers in searchCategoryService.searchSoloPlayers(game.id)%}
				                		<tr id="searchTr">
				                			<td>
				                				{{soloPlayers.pseudo}}
				                			</td>
        									{% if (is_granted("IS_AUTHENTICATED_REMEMBERED"))%}
        										{%for player in searchCategoryService.getCreatePlayer(app.user.id,game.id)%}
		        									{%if player.team
													and player.team.validation is null
													and player.team.capitain %} 
							                			<td align="right">
							                				{%if searchCategoryService.checkApplication(app.user.id,game.id,'team', soloPlayers.user.id) == null%}
											                	<a id="recruitPlayer" class="btn btn-default" href="{{path('application_new', searchCategoryService.newApplicationTeamArray(app.user.id,soloPlayers.user.id,game.id,'team')) }}" >
											                    	 <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Recruter
											                    </a>
											                {%else%}
											                	<a class="btn btn-default disabled" href="{{path('application_new', searchCategoryService.newApplicationTeamArray(app.user.id,soloPlayers.user.id,game.id,'team')) }}" >
											                    	 Attente réponse
											                    </a>
											                {%endif%}
							                			</td>
							                		{%endif%}
							                	{%endfor%}
					                		{%endif%}
				                		</tr>
				                	{%endfor%}
				                {%else%}
				                	<tr>Aucun joueur disponible</tr>
				                {%endif%}
			                </tbody>
	                	</table>
	                </div>
            	{%endif%}
            	
            	{% if  (game.category.systName == 'multi')   %}
	                <div class="well">  
	                	<a href="{{path('team_recruit', {'gameId':game.id}) }}" >
	                		<h4>
	                		<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
	                		Rechercher équipes
	                		</h4>
	                	</a>
	                	<table class="table table-hover">
	                		<tbody>
	                			{%if searchCategoryService.searchSoloPlayers(game.id)%}
				                	{%for notValidTeam in searchCategoryService.searchNotValidTeam(game.id)%}
				                		<tr id="searchTr">
				                			<td>
				                				{{notValidTeam.name}}
				                			</td>
        									{% if (is_granted("IS_AUTHENTICATED_REMEMBERED"))%} 
        										{%for player in searchCategoryService.getCreatePlayer(app.user.id,game.id)%}
		        									{%if player.team is null%}
							                			<td align="right">
							                				{%if searchCategoryService.checkApplicationTeam(app.user.id, notValidTeam.id, 'player') == null%}
											                	<a id="recruitPlayer" class="btn btn-default" href="{{path('application_new', {'user':app.user.id,'team':notValidTeam.id,'origin':'player'}) }}" >
											                    	 <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Postuler
											                    </a>
											                {%else%}
											                	<a class="btn btn-default disabled" href="{{path('application_new', {'user':app.user.id,'team':notValidTeam.id,'origin':'player'}) }}" >
											                    	 Attente réponse
											                    </a>
											                {%endif%}
							                			</td>
							                		{%endif%}
							                	{%endfor%}
					                		{%endif%}
				                		</tr>
				                	{%endfor%}
				                {%else%}
				                	<tr>Aucune équipe disponible</tr>
				                {%endif%}
			                </tbody>
	                	</table>
	                </div>
            	{%endif%}
            </div>
    	</div>
    </div>
    
{% endblock %}
