{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
    		<center><h1>Création d'équipe</h1></center>
    		<hr>
    		<br>
		    {% form_theme form 'bootstrap_3_layout.html.twig' %}
		
		    {{ form_start(form) }}
		        {{ form_widget(form) }}
			        <button class="btn btn-primary btn-lg btn-block" type="submit" value="Créer">
				        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
				        Créer
			        </button>
		    {{ form_end(form) }}
		
			<br>
			<center><img src="{{ asset('bundles/app/img/game/'~game.systName~'.jpg') }}" alt="{{game.name}}"></center>
			<br>
		</div>
	</div>
{% endblock %}
