{% extends 'base.html.twig' %}

{% block body %}
	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-1">
			</div>
			<div class="col-xs-10">
				<h1> Equipe {{team.name}} [{{team.game.name}}]</h1>
				<br>
	            	<a class="btn btn-default" href="{{path('team_edit', {'id':team.id}) }}" >
	            		<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
	            	</a>
	            	<a class="btn btn-default" href="{{path('team_delete', {'id':team.id}) }}" >
	            		<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
	            	</a>
				<br>
				{%if (team.player|length)==5 or (team.player|length)==6%}
					<div class="alert alert-info">
					  <strong>Info</strong> Vous pouvez payer vos billets d'entrée sur votre profil.
					  <a class="btn btn-default"  href="#">ICI</a>
					  <br>
					  Votre équipe ne sera validée que lorsque tous les paiements de l'équipe auront étés effectués.
					  <br>
					  Une fois votre équipe validée, vous devrez contacter les responsables des Label[i] Gaming Championship afin de procéder à des modifications.
					</div>
				{%endif%}
				<br>
				<br>
				<div class="tabbable" id="tabs-268668">
					<ul class="nav nav-tabs">
						<li class="active">
							<a href="#panel-1" data-toggle="tab">Composition Equipe</a>
						</li>
						{%if searchCategoryService.checkApplicationTeamPlayers(team.id, 'player')%}
							<li>
								<a href="#panel-2" data-toggle="tab">
									Candidatures reçues
									<span class="badge">
										{{searchCategoryService.checkApplicationTeamPlayers(team.id, 'player')|length}}
									</span>
								</a>
							</li>
						{%endif%}
						{%if searchCategoryService.checkApplicationTeamPlayers(team.id,'team')%}
							<li>
								<a href="#panel-3" data-toggle="tab">
									Candidatures déposées
									<span class="badge">
										{{searchCategoryService.checkApplicationTeamPlayers(team.id, 'team')|length}}
									</span>
								</a>
							</li>
						{%endif%}
					</ul>
					<div class="tab-content">
						<div class="tab-pane active" id="panel-1">
							<table class="table table-hover">
								<thead>
									<tr>
										<th>
											Joueur Pseudo
										</th>
										<th>
											Role
										</th>
										<th>
											Username
										</th>
										{%if searchCategoryService.getCapitain(app.user.id,team.game.id,team.id)%}
											<th>
												Supprimer
											</th>
										{%endif%}
									</tr>
								</thead>
								{%for player in team.player%}
									<tbody>
										<tr>
											<td>
												{{player.pseudo}}
											</td>
											<td>
												{%if player.capitain%}
													Capitaine d'équipe
												{%endif%}
											</td>
											<td>
												{{player.user.username}}
											</td>
											{%if searchCategoryService.getCapitain(app.user.id,team.game.id,team.id)%}
												<td>
				                                	<a class="btn btn-default" href="{{path('player_delete', {'id':player.id}) }}" >
				                                		<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
				                                	</a>
												</td>
											{%endif%}
										</tr>
									</tbody>
								{%endfor%}
							</table>
						</div>
						<div class="tab-pane" id="panel-2">
							<table class="table table-hover">
								<thead>
									<tr>
										<th>
											Username
										</th>
										<th>
											Description
										</th>
										{%if searchCategoryService.getCapitain(app.user.id,team.game.id,team.id)%}
											<th>
												Action
											</th>
										{%endif%}
									</tr>
								</thead>
								<tbody>
									{%for application in searchCategoryService.checkApplicationTeamPlayers(team.id,'player')%}
										<tr>
											<td>
												{{application.user.username}}
											</td>
											<td>
												{{application.description}}
											</td>
											{%if searchCategoryService.getCapitain(app.user.id,team.game.id,team.id)%}
												<td>
													{%if (team.player|length)<=6%}
					                                	<a class="btn btn-default" href="{{path('application_accept', {'id':application.id, 'origin':'team'}) }}" >
					                                		<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
					                                	</a>
					                                {%endif%}
				                                	<a class="btn btn-default" href="{{path('application_delete', {'id':application.id,'originId':team.id, 'origin':'team'}) }}" >
				                                		<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
				                                	</a>
												</td>
											{%endif%}
										</tr>
									{%endfor%}
								</tbody>
							</table>
						</div>
						<div class="tab-pane" id="panel-3">
							<table class="table table-hover">
								<thead>
									<tr>
										<th>
											Username
										</th>
										<th>
											Description
										</th>
										{%if searchCategoryService.getCapitain(app.user.id,team.game.id,team.id)%}
											<th>
												Action
											</th>
										{%endif%}
									</tr>
								</thead>
								<tbody>
									{%for application in searchCategoryService.checkApplicationTeamPlayers(team.id,'team')%}
										<tr>
											<td>
												{{application.user.username}}
											</td>
											<td>
												{{application.description}}
												{%if searchCategoryService.getCapitain(app.user.id,team.game.id,team.id)%}
				                                	<a class="btn btn-default" href="{{path('application_edit', {'id':application.id}) }}" >
				                                		<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
				                                	</a>
												</td>
													<td>
					                                	<a class="btn btn-default" href="{{path('application_delete', {'id':application.id,'originId':team.id, 'origin':'team'}) }}" >
					                                		<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
					                                	</a>
												{%endif%}
											</td>
										</tr>
									{%endfor%}
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
