{% extends 'base.html.twig' %}

{% block body %}
	{%if (is_granted("ROLE_ADMIN"))%}
	    <div class="container">
	        <div class="row">
			    <h1>Player list - {{players|length}}</h1>
			    
			    {%for game in games%}
				    <a class="btn btn-default"  href="{{ path('player_by_game_payed', {'game':game.id}) }}">
		                {{game.name}}
		            </a>
			    {%endfor%}
			
			    <table class="table table-hover">
			        <thead>
			            <tr>
			                <th>Pseudo</th>
			                <th>Tournoi</th>
			            </tr>
			        </thead>
			        <tbody>
			        {% for player in players %}
			            <tr>
			                <td>{{ player.pseudo }}</td>
			                <td>{{player.game.systName}}</td>
			            </tr>
			        {% endfor %}
			        </tbody>
			    </table>
			</div>
		</div>
	{%endif%}
{% endblock %}
