{% extends 'base.html.twig' %}

{% block body %}
	{%if (is_granted("ROLE_ADMIN"))%}
	    <div class="container">
	        <div class="row">
			    <h1>Labeli</h1>
			
			    <table class="table table-hover">
			        <tbody>
			            <tr>
			                <th>Id</th>
			                <td>{{ entity.id }}</td>
			            </tr>
			            <tr>
			                <th>Nom</th>
			                <td>{{ entity.nom }}</td>
			            </tr>
			            <tr>
			                <th>Prenom</th>
			                <td>{{ entity.prenom }}</td>
			            </tr>
			            <tr>
			                <th>Mail</th>
			                <td>{{ entity.mail }}</td>
			            </tr>
			            <tr>
			                <th>Honored</th>
			                <td>{{ entity.honored }}</td>
			            </tr>
			        </tbody>
			    </table>
			
	            <a class="btn btn-primary btn-lg btn-block"  href="{{ path('labeli_new') }}">
	                + Create a new entry
	            </a>
		        <a class="btn btn-primary btn-lg btn-block"  href="{{ path('labeli') }}">
		            Back to the list
		        </a>
		        <a class="btn btn-primary btn-lg btn-block"  href="{{ path('labeli_edit', { 'id': entity.id }) }}">
		            Edit
		        </a>
		        
		        
			</div>
		</div>
	{%endif%}
{% endblock %}
