{% extends 'base.html.twig' %}

{% block body %}
	{%if (is_granted("ROLE_ADMIN"))%}
	    <div class="container">
	        <div class="row">
			    <h1>
			    	User list
			    	<span class="badge">
			    		{{users|length}}
			    	</span>
			    </h1>
			    <a class="btn btn-default"  href="{{ path('user_index') }}">
	                Liste user
	            </a>
			    <a class="btn btn-default"  href="{{ path('labeli_by_payed', {'state':'payed'}) }}">
	                Utilisateurs payés
	            </a>
			    <a class="btn btn-default"  href="{{ path('labeli_by_payed',{'state':'notPayed'}) }}">
	                Utilisateurs non payés
	            </a>
			    <a class="btn btn-default"  href="{{ path('user_by_labeli') }}">
	                Utilisateurs Label[i]
	            </a>
			    <a class="btn btn-default"  href="{{ path('user_check_labeli') }}">
	                Utilisateurs check Label[i]
	            </a>
			
			    <table class="table table-hover">
			        <thead>
			            <tr>
			                <th>Nom</th>
			                <th>Prénom</th>
			                <th>Mail</th>
			                <th>Confirm</th>
			                <th>Payed</th>
			                <th>Alert</th>
			            </tr>
			        </thead>
			        <tbody>
			        {% for user in users %}
			            <tr>
			                <td>
			                	{{ user.nom }}
			                </td>
			                <td>
			                	{{ user.prenom }}
			                </td>
			                <td>
			                	{{ user.email }}
			                </td>
			                <td>
			                	{%if user.confirmation!=1%}
				                	<a class="btn btn-default"  href="{{ path('user_confirm', { 'id': user.id }) }}">
				                		<i class="fa fa-envelope-o"></i>
				                	</a>
			                	{%endif%}
			                </td>
			                <td>
			                	{%if user.payed!=1%}
				                	<a class="btn btn-default"  href="{{ path('user_payed', { 'id': user.id }) }}">
				                		€
				                	</a>
			                	{%endif%}
			                </td>
			                <td>
			                	{{user.alert}}
			                </td>
			            </tr>
			        {% endfor %}
			        </tbody>
			    </table>
			</div>
		</div>
	{%endif%}
{% endblock %}
