{% extends 'base.html.twig' %}

{% block body %}
	{%if (is_granted("ROLE_USER"))%}
	    <div class="container">
	        <div class="row">
			    <h1>User list</h1>
			
			    <table class="table table-hover">
			        <thead>
			            <tr>
			                <th>Id</th>
			                <th>Delete</th>
			                <th>Validate</th>
			            </tr>
			        </thead>
			        <tbody>
			        {% for user in users %}
			            <tr>
			                <td><a href="{{ path('user_show', { 'id': user.id }) }}">{{ user.id }}</a></td>
			                <td>
			                	<a class="btn btn-default"  href="{{ path('user_edit', { 'id': user.id }) }}">
			                		<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
			                	</a>
			                </td>
			                <td>
			                	{%if user.payed==0%}
				                	<a class="btn btn-default"  href="{{ path('user_validate', { 'id': user.id,'status':'true' }) }}">
				                		<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
				                	</a>
				                {%else%}
				                	<a class="btn btn-default"  href="{{ path('user_validate', { 'id': user.id,'status':'false' }) }}">
				                		<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
				                	</a>
				                {%endif%}
			                </td>
			            </tr>
			        {% endfor %}
			        </tbody>
			    </table>
			</div>
		</div>
	{%endif%}
{% endblock %}
