{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
    		<h1>User</h1>

		    <table class="table table-hover">
		        <tbody>
		            <tr>
		                <th>Id</th>
		                <td>{{ user.id }}</td>
		            </tr>
		            <tr>
		                <th>Username</th>
		                <td>{{ user.username }}</td>
		            </tr>
		            <tr>
		                <th>Email</th>
		                <td>{{ user.email }}</td>
		            </tr>
		        </tbody>
		    </table>
		    
		    
			<div class="col-sm-12 col-lg-12 col-md-12">
			    {%for player in user.player%}
					<div class="col-sm-3 col-lg-3 col-md-3">
					    <table class="table table-hover">
					        <tbody>
					        	<tr>
					        		<th>
					        			Nom Tournoi
					        		</th>
					        		<td>
					        			{{player.game.name}}
					        		</td>
					        	</tr>
					        	{%if player.team%}
						        	<tr>
						        		<th>
						        			Nom Team
						        		</th>
						        		<td>
						        			{{player.team.name}}
						        		</td>
						        	</tr>
						        	{%for playerTeam in player.team.player%}
							        	<tr>
							        		<th>
							        			Nom Joueur
							        		</th>
							        		<td>
							        			{{playerTeam.user.username}}
							        		</td>
							        	</tr>
							        {%endfor%}
						        {%endif%}
					        </tbody>
					    </table>
					</div>
				{%endfor%}
			</div>

		    <ul>
		        <li>
		            <a href="{{ path('user_index') }}">Back to the list</a>
		        </li>
		        <li>
		            <a href="{{ path('user_edit', { 'id': user.id }) }}">Edit</a>
		        </li>
		        <li>
		            {{ form_start(delete_form) }}
		                <input type="submit" value="Delete">
		            {{ form_end(delete_form) }}
		        </li>
		    </ul>
		</div>
	</div>
{% endblock %}
